html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  height:400px;
  background-image: url(amakusa.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.top-wrapper {
  width:3000px;
  padding:5px 20px 20px 20px;
  background-color:white;
  opacity: 0.8;
}

.container{
  width: 1170px;
  padding: 30px;
  margin: 0 auto;
  color:rgb(3, 97, 153) ;
}
p{
  float: left;
  padding: 20px 33px;
}
